@import url("/assets/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

body{
  background-color: $light;
  font-family: $font-family-sans-serif;
}
html{
  position: relative;
  min-height: 100%;
}
// mettre le footer en bas de la page :
footer.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
main{
  margin-bottom: 253px; // = hauteur max du footer (version mobile) pour éviter que le contenu de main passe sous le footer
}

.navbar-brand{
  font-family: $font-family-serif;
  color: $primary;
  font-size: 2rem;
}

footer p{
  color: $light;
}

.hero{
  position: relative;
  &::before{
    content:"";
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5); // pour foncer une image
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  } // on cale sous le hero, un élément vide (seulement avec un background-image) qui prend la dimension du hero, avec un filtre

  *{
    // positionner les éléments par-dessus le before :
    position: relative;
  }
}

.hero-content{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}